@import url("https://fonts.googleapis.com/css2?family=Playfair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
body {
  background-color: #faf6eb;
  margin: 0;
  padding: 10px 100px;
}
a {
  all: unset;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.title-style {
  font-family: "Quattrocento", serif;
}

.side-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Playfair", cursive;
  text-align: center;
}

.header-init,
.header-end {
  width: 20vw;
  height: 160px;
  border: 1px solid black;
  margin: 0;
}
.header-center {
  width: 60vw;
}
.header-text {
  font-size: 3.5em;
}
#home {
  background-color: #000;
}
.eva-heading {
  padding: 0 2%;
  margin: 0 auto;
  font-family: serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2%;
}

.eva-heading > h1 {
  font-size: 2.5em;
  margin: 2% 0 0 0;
}

.eva-heading > h2 {
  font-size: 3em;
  margin: 2% 0 0 0;
}

.eva-heading__title {
  transform: scale(1, 1.5);
  line-height: 1.2em;
  letter-spacing: -0.03em;
}

.eva-heading__episode-number {
  font-family: sans-serif;
  font-size: 1em;
  transform: scale(1, 1.5);
  letter-spacing: -0.06em;
  margin: 10px 0 26px 0;
}

.eva-heading__episode-title {
  transform: scale(1, 1.3);
  font-size: 1em;
  line-height: 1em;
}
#menu-section {
  background-color: #faf6eb;
  z-index: 10;
  top: 0;
  position: sticky;
}
.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0 5px;
}
.item {
  font-size: 1.5em;
}

#soft-skills {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.my-photo {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
#about {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.about-image {
  filter: grayscale(100%);
  height: 30vh;
}
.paragraph-style {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.5vw;
}
#home {
  grid-area: home;
}
#photo {
  grid-area: photo;
}
#hard-skills {
  grid-area: hard-skills;
}
#soft-skills {
  grid-area: soft-skills;
}
#about {
  grid-area: about;
}
#projects {
  text-align: center;
  grid-area: projects;
}
#conctact {
  grid-area: contact;
}
#footer {
  grid-area: footer;
}

.content,
section {
  border: solid 2px black;
}
@media (max-width: 600px) {
  .menu-button {
    font-size: large !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center;
    cursor: pointer;
  }
  .show {
    display: flex;
  }
  .hide {
    display: none;
  }
  #timeline {
    padding: 0;
  }
  .menu-items {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .border-images > a {
    display: none;
  }
}
@media (max-width: 1334px) {
  .menu-button {
    display: none;
  }
  body {
    padding: 5vw;
  }
  #about {
    text-align: center;
    padding: 2%;
  }
  .paragraph-style {
    font-size: 2.5vw;
  }
  #timeline {
    flex-direction: column;
  }
  .timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2%;
    text-align: center;
    background: #e0d1a8;
    height: auto;
    position: relative;
    width: 90%;
    border: #000 dashed 3px;
  }
  .card-image {
    width: 95%;
    height: auto;
  }
  #contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .contact-section {
    float: right;
    display: flex;
    flex-direction: row;
  }
  .contact-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-image {
    width: 100px;
  }
  .contact-subtitle {
    background: #faf6eb;
    color: black;
    top: -20px;
    position: relative;
  }
  #contact-git {
    align-items: flex-end;
  }
  .soft-skill-label {
    width: 28vw !important;
    font-size: 2vh !important;
  }
}
@media (min-width: 1335px) {
  #home {
    height: 70%;
  }
  .menu-button {
    display: none;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5%;
    padding: 5%;
    grid-template-rows: 50vh 48vh 60vh 40vh;
    grid-template-areas:
      "home home photo"
      "hard-skills soft-skills about"
      "projects projects projects"
      ". . contact"
      ". footer .";
  }

  .paragraph-style {
    font-size: 1.2vw;
  }

  #about {
    padding: 2%;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  #contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .contact-section {
    float: right;
    display: flex;
    flex-direction: column;
  }
  .contact-item {
    display: flex;
    align-items: center;
    align-content: flex-end;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-image {
    width: 200px;
  }
  .contact-subtitle {
    background: #faf6eb;
    color: black;
    top: -20px;
    position: relative;
  }
  #contact-git {
    align-items: flex-end;
  }
  .timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2%;
    text-align: center;
    background: #e0d1a8;
    height: 40vh;
    position: relative;
    width: 20vw;
    border: #000 dashed 3px;
  }
  .card-image {
    width: 19vw;
    height: 170px;
  }
  .description {
    margin: 0 10px;
  }
  .timeline-item:before {
    background: #faf6eb;
    border-radius: 50%;
    box-shadow: 20vw 0 0 0 #faf6eb, 0 34vh 0 0 #faf6eb, 20vw 34vh 0 0 #faf6eb,
      0 40px 0 -20px #faf6eb, 0 60px 0 -20px #faf6eb, 0 80px 0 -20px #faf6eb,
      0 100px 0 -20px #faf6eb, 0 120px 0 -20px #faf6eb, 0 140px 0 -20px #faf6eb,
      0 160px 0 -20px #faf6eb, 0 180px 0 -20px #faf6eb, 0 200px 0 -20px #faf6eb,
      0 220px 0 -20px #faf6eb, 20vw 40px 0 -20px #faf6eb,
      20vw 60px 0 -20px #faf6eb, 20vw 80px 0 -20px #faf6eb,
      20vw 100px 0 -20px #faf6eb, 20vw 120px 0 -20px #faf6eb,
      20vw 140px 0 -20px #faf6eb, 20vw 160px 0 -20px #faf6eb,
      20vw 180px 0 -20px #faf6eb, 20vw 200px 0 -20px #faf6eb,
      20vw 220px 0 -20px #faf6eb;
    content: "";
    display: block;
    height: 50px;
    left: -25px;
    position: absolute;
    top: -25px;
    width: 50px;
  }
}

.skills-title {
  text-align: center;
  font-size: 50px;
  margin: 10px 5px;
}
#skill-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skill-item {
  margin: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  // font-family: "DotGothic16", sans-serif;
  font-family: "VT323", monospace;
}
#skill-item-reverse {
  margin: 2%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  // font-family: "DotGothic16", sans-serif;
  font-family: "VT323", monospace;
}
.gauge {
  display: flex;
  flex-direction: column;
}
.gauge-icon {
  top: 3px;
  position: relative;
  margin: 0 10px;
  width: 40px;
  height: 40 px;
}
.progress {
  width: 120px;
  height: 20px;
  mask: linear-gradient(90deg, #000 70%, #0000 0) 0/20%;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) 0/6%;
  background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
}
#projects {
  overflow: scroll;
  display: grid;
}

#projects::-webkit-scrollbar {
  display: none;
}

.progress::-webkit-progress-bar {
  background-color: #141a25;
  border-radius: 2px;
}
.progress::-webkit-progress-value {
  background-color: rgb(236, 155, 62);
}

.soft-skill-list-item {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.soft-skill-label {
  text-transform: none;
  font-size: 1.2vw;
  text-align: left;
  order: 3;
  margin-left: 3%;
  width: 15vw;
}
.soft-skill__text-input {
  width: 40px;
  font-size: 1.2em;
  text-align: center;
  border: 0;
  border-bottom: 1px solid black;
  order: 2;
}
.soft-skill__text-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 25px;
  order: 1;
}

@keyframes p4 {
  100% {
    background-size: 120%;
  }
}
#timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.border-images {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
}
.image-border-icon {
  margin-top: 20%;
  cursor: pointer;
  width: 50px;
}
